<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加自动回复</title>
<link href="/css/main.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/skins/blue.css" />
<link rel="stylesheet" type="text/css" href="/css/material.css" />
<link rel="stylesheet" type="text/css" href="/css/message.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/artDialog.js"></script>
<script type="text/javascript" src="/js/iframeTools.js"></script>
<script type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
<link rel="stylesheet" type="text/css"
	href="/js/My97DatePicker/skin/WdatePicker.css" />
</head>
<body>
	<div class="container">
		<{include 'admin/public/header.html'}>
		<div class="main">
			<div class="mainWrap">

				<a class="intelBtn addGroupBtn"
					href="/index.php/reply/addKeywordReply">+ 关键词回复</a> <a
					class="intelBtn addGroupBtn"
					href="/index.php/reply/addSubscribeReply" style='margin-left: 10px'>+
					关注回复</a> <a class="intelBtn addGroupBtn"
					href="/index.php/reply/addAutoReply" style='margin-left: 10px'>+
					自动回复</a>
				<div class="intelListWrap"></div>

				<form action='/index.php/reply/doaddAutoReply' method='post'
					id='form1'>
					<input type='hidden' name='id' value='<{$info.id}>' />
					<h3>添加常规自动回复</h3>
					<p>
						<{if $info.status == 2}> <label><input type="radio"
							value="1" name="status">启用</label> <label class="ml10"><input
							type="radio" value="2" name="status" checked="checked">停用</label>
						<{else}> <label><input type="radio" value="1"
							name="status" checked="checked">启用</label> <label class="ml10"><input
							type="radio" value="2" name="status">停用</label> <{/if}>
					</p>
					<p class="leftPadding80 fansOptionWrap">
					<div class="publishBox statu1">
						<div class="publishBoxNavWrap">
							<a class="txtMsgTab" href="javascript:void(0);"
								onclick="fnSwitchTxtMsg(this)">文字</a> <a class="picTxtMsgTab"
								href="javascript:void(0);"
								onclick="fnCallPicTxtMsg(this,$('#wordMsg'))">图文信息</a>
						</div>
						<div class="messageInput" contenteditable="true" id="wordMsg"><{$info.content}></div>
						<input type="hidden" name="response_mid" value=""
							id='response_mid'> <input type="hidden"
							name="response_content" value="" id="response_content">
						<div class="publishBoxBottom">
							<a class="emotionIcon" href="javascript:void(0);" onclick=""></a>
							<p class="messageCount">
								还可以输入<span>600</span>字
							</p>
							<input type="hidden" name="txtOverflow" value="1">
						</div>
					</div>
					<{if $l == 2}> 当前已使用图文素材： <{if $single == 1}>
					<li class="materialPicTxtList oneContent">
						<p class="materialPicTxtTtl"><{$material['content']['articles'][0]['title']}></p>
						<p class="materialPicTxtDate"><{date('Y-m-d',$material.uptime)}></p>
						<div class="materialPicWrapCover">
							<img src="<{$material['content']['articles'][0]['picurl']}>" />
						</div>
						<p class="materialPicTxtComment"><{$material['content']['articles'][0]['description']}></p>
					</li> <{/if}> <{if $single == 2}>
					<li class="materialPicTxtList multiContent">
						<p class="materialPicTxtDate"><{date('Y-m-d',$material.uptime)}></p>
						<{foreach $material.content.articles as $k => $new}> <{if $k ==
						0}>
						<div class="materialPicWrapCover">
							<img src="<{$new.picurl}>" />
							<p class="topCoverTtl">
								<span class="opacityBg"></span> <a class="ttlTxt"
									style="text-decoration: none;" href="javascript:void(0);"><{$new.title}></a>
							</p>
						</div> <{else}>
						<div class="materialMultiPicWrap">
							<p><{$new.title}></p>
							<div class="materialThumb">
								<img src="<{$new.picurl}>" />
							</div>
						</div> <{/if}> <{/foreach}>
					</li> <{/if}> <{/if}>
					</p>
					<p>
						<font color='#FF6600'>应答方式“文本”和“图文”只能选择一项！</font>
					</p>
					<p class="leftPadding80 btnWrap">
						<input type="button" class="intelBtn addGroupOprateBtn" value="保存"
							onclick="fnSaveGroup(this)" /> <a
							href="/index.php/reply/list_manage"
							class="intelBtn addGroupOprateBtn">取消</a>
					</p>
				</form>
			</div>
		</div>
		<{include 'admin/public/left_menu.html'}>
	</div>
</body>
</html>
<script type="text/javascript">
	$(function(){
		setInterval(function(){
			var flag=$('#wordMsg').is(':focus');
			if(flag){
				fnCheckTxtNum();
			}
		},200);
	})

	function fnSaveGroup(self){
		var mid = $("#response_mid").val();
		if(mid == '' || mid == 0){
			var content = $("#wordMsg").html();
			$("#response_content").val(content);
		}
		$('#form1').submit();
	}
	
	function fnSwitchTxtMsg(self){
		$("#response_mid").val('');
		var self=$(self);
		var msgType=$('[name=msgType]');
		msgType.val(1);
		$('[name=response_mid]').val('');
		$('.publishBox').removeClass('statu2').removeClass('statu3').addClass('statu1');
		$('.messageInput').html('').removeClass('materialPicTxtWrap').attr('contenteditable',true);
	}
	
	function fnCallPicTxtMsg(self,box){
		$("#response_content").val('');
		var picTxtBox=art.dialog({title:'图文素材',id:'picTxtBox',lock:true});
		$.ajax({
			url:'/index.php/material/material_popup',
			success:function(data){
				picTxtBox.content(data);
				picTxtBox.button(
					{
						name: '确定',
						callback: function () {
							var id=$('[name=tickedMaterialId]').val();
							if(id==''){
								alert('请选择一个素材');
								return false;
							}else{
								var mg=$('.tickedContent').removeClass('tickedContent');
								box.html(mg).attr('contenteditable',false);
								$('.publishBox').removeClass('statu1').removeClass('statu2').addClass('statu3');
								var msgType=$('[name=msgType]');
								msgType.val(3);
								$('[name=response_mid]').val(id);
							}
						},
						focus:true
					},
					{
						name:'取消'
					}
				);
			},
			cache:false
		});
	}
	
	function fnCheckTxtNum(){
		var area=$('#wordMsg');
		var txtOverflow=$('[name=txtOverflow]');
		var numWrap=$('.messageCount');
		var msg=area.text().replace(/\s/g,'');
		var len=600-(msg.length);
		var tip='';
		if(len<0){
			tip='已超出<span class="overLength">'+Math.abs(len)+'</span>字';
			txtOverflow.val(0);
		}else{
			tip='还可以输入<span>'+len+'</span>字';
			txtOverflow.val(1);
		}
		numWrap.html(tip);
	}

	function fnTickMaterial(self,id){
		self=$(self);
		var siblingsBox=self.parents('.materialPicTxtWrap').find('li');
		siblingsBox.removeClass('tickedContent');
		self.addClass('tickedContent');
		var tickedMaterialId=$('[name=tickedMaterialId]');
		tickedMaterialId.val(id);
	}

</script>