<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width; initial-scale=1.0; user-scalable=no;">
<link rel="stylesheet" href="/mobile/css/reset.css">
<link rel="stylesheet" href="/mobile/js/swiper/idangerous.swiper.css">
<link rel="stylesheet" href="/mobile/css/mobile.css?swdef=234">
<script src="/mobile/js/jquery.js"></script>
<script src="/mobile/js/swiper/idangerous.swiper.min.js"></script>
<script src="/mobile/js/iscroll.js"></script>
<script src="/mobile/js/mobile.js"></script>
<title><{$html_title}></title>
</head>
<body>