<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta content="telephone=no" name="format-detection" />
<title>内容素材</title>
<link href="/css/wap.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/wap.js"></script>
</head>
<body>
	<div class="container">
		<div class="articleWrap" style="min-height: 600px;">
			<h1><{$info.title}></h1>
			<p class="materialPicTxtDate">
				<{date('Y-m-d H:i:s',$info.ctime)}><span class="author"><{$info.author}></span>
			</p>
			<div class="materialPicWrapCover">
				<{if $info.coverFlag == '1'}> <img src="<{$info.thumb}>">
				<{/if}>
			</div>
			<{$info.content}> <{if $info.original_url != ''}>
			<p>
				<a href="<{$info.original_url}>">阅读原文</a>
			</p>
			<{/if}>
		</div>
	</div>

</body>
</html>