<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>详情</title>
<link href="/css/main.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/material.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
</head>
<body>
	<div class="container">
		<{include 'header.html'}>
		<div class="main">
			<div class="materialDetailWrap">
				<p class="materialPicTxtTtl">阿发萨菲大厦的发阿斯顿发生地方阿斯顿发生的发生发生啊沙发撒打发斯蒂芬啊沙发啊沙发撒</p>
				<p class="materialPicTxtDate">
					2014-05-20<span class="author">苍老师</span>
				</p>
				<div class="materialPicWrapCover">
					<img
						src="/uploads/thumbnail/thumb_076e3caed758a1c18c91a0e9cae3368f.jpg">
				</div>
				<p class="materialPicTxtComment">阿发萨菲大厦的发阿斯顿发生地方阿斯顿发生的发生发生啊沙发撒打发斯蒂芬啊沙发啊沙发撒</p>
			</div>
		</div>
	</div>
</body>
</html>