<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加图文消息</title>
<link href="/css/main.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/skins/blue.css" />
<link rel="stylesheet" type="text/css" href="/css/material.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/artDialog.js"></script>
<script type="text/javascript" src="/js/iframeTools.js"></script>
<script type="text/javascript" src="/js/ajaxfileupload.js"></script>
<script type="text/javascript" src="/js/createMaterial.js"></script>
<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/js/ckeditor/ckfinder.js"></script>
</head>
<body>
	<div class="container">
		<{include 'header.html'}>
		<div class="main">
			<div class="mainWrap">
				<div class="creatPicTxtCol">
					<div class="pic_txt_col editOn" id="coverCol">
						<div class="materialPicWrapCover mPreview">
							<div class="preViewImg">
								<img src="<{$material.thumb}>" />
							</div>
							<p class="topCoverTtl">
								<span class="opacityBg"></span> <span
									class="materialPicTxtTtl ttlTxt"><{$material.title}></a>
							</p>
							<div class="editBase">
								<p>
									<a href="javascript:void(0);"
										onclick="fnEditCurrentCol(this,0)">编辑</a>
								</p>
							</div>
						</div>
						<a class="hideEditTrigger" href="javascript:void(0);"
							onclick="fnEditCurrentCol(this,0)">编辑</a> <input type="hidden"
							name="aid" value="<{$material.id}>" /> <input type="hidden"
							name="sTitle" value="<{$material.title}>" /> <input type="hidden"
							name="sAuthor" value="<{$material.author}>" /> <input
							type="hidden" name="uploadPath" value="<{$material.thumb}>" /> <input
							type="hidden" name="coverFlag" value="<{$material.coverFlag}>" />
						<input type="hidden" name="sComment"
							value="<{$material.description}>" /> <input type="hidden"
							name="sUrl" value="<{$material.url}>" />
						<!--<input type="hidden" name="sArticle"  value="<{$material.content}>"/>-->
						<div class="sArticle" style="display: none;"><{$material.content}></div>
						<input type="hidden" name="sLink"
							value="<{$material.original_url}>" />

					</div>
					<div class="appendColWrap">
						<{foreach $news as $k=>$new}> <{if $k>0}>
						<div class="pic_txt_col">
							<p class="materialPicTxtTtl"><{$new.title}></p>
							<div class="materialThumb">
								<div class="preViewImg">
									<img src="<{$new.thumb}>" />
								</div>
							</div>
							<div class="editBase">
								<p>
									<a onclick="fnEditCurrentCol(this)" href="javascript:void(0);">编辑</a><a
										onclick="fnDelCurrentCol(this)" href="javascript:void(0);">删除</a>
								</p>
							</div>
							<input type="hidden" name="aid" value="<{$new.id}>" /> <input
								type="hidden" name="sTitle" value="<{$new.title}>" /> <input
								type="hidden" name="sAuthor" value="<{$new.author}>" /> <input
								type="hidden" name="uploadPath" value="<{$new.thumb}>" /> <input
								type="hidden" name="coverFlag" value="<{$new.coverFlag}>" /> <input
								type="hidden" name="sComment" value="<{$new.description}>" /> <input
								type="hidden" name="sUrl" value="<{$new.url}>" />
							<!--<input type="hidden" name="sArticle"  value="<{$new.content}>"/>-->
							<div class="sArticle" style="display: none;"><{$new.content}></div>
							<input type="hidden" name="sLink" value="<{$new.original_url}>" />
						</div>
						<{/if}> <{/foreach}>

					</div>

					<div class="appendColBtnWrap">
						<a href="javascript:void(0);"
							onclick="fnAppendCol($('.appendColWrap'))">+</a>
					</div>
				</div>
				<div class="materialEditWrap">
					<i class="arrow arrow_out"></i> <i class="arrow arrow_in"></i>
					<div class="editBox">
						<form id="editForm">
							<div class="optionCol">
								<p>
									标题<span class="inlineTip">（最多64字）</span>
								</p>
								<div class="optionField">
									<input type="text" name="meTitle" value="<{$material.title}>" />
								</div>
							</div>
							<div class="optionCol">
								<p>
									作者<span class="inlineTip">（选填）</span>
								</p>
								<div class="optionField">
									<input type="text" name="meAuthor" value="<{$material.author}>" />
								</div>
							</div>
							<div class="optionCol">
								<p>
									封面<span class="inlineTip right maxTip">大图片建议尺寸：360像素 *
										200像素</span><span class="inlineTip right miniTip">小图片建议尺寸：200像素
										* 200像素</span>
								</p>
								<div class="optionField">
									<label class="imgUpLabel"> <input class="imgUpBtn"
										imgWidth="360" imgHeight="200" id="up_picture"
										name="up_picture" type="file"
										onchange="fnMaterialPicUpload(this,$('.preViewBox'),$('.editOn'),$('.uploadView'));" />
										上传
									</label>
									<div class="preViewBox">
										<div class="uploadView">
											<h5>上传中...</h5>
										</div>
										<a class="delView" href="javascript:void(0);"
											onclick="fnDelUpload($('.editOn').find('[name=uploadPath]'),$('.uploadView'),$('.preViewBox'))">删除</a>
									</div>
								</div>
								<p>
									<label class="inlineTip"><input type="checkbox"
										name="meCoverFlag" />封面图片显示在正文中</label>
								</p>
							</div>
							<div class="optionCol">
								<p>
									跳转链接<span class="inlineTip">（选填）</span>
								</p>
								<div class="optionField">
									<input type="text" name="meUrl" value="<{$material.url}>" />
								</div>
							</div>
							<div class="optionCol">
								<p>
									正文<span class="inlineTip">（最多2000字）</span>
								</p>
								<div class="optionField">
									<div id="materialArticle" contenteditable="true"
										class="materialArticle"><{$material.content}></div>
								</div>
							</div>
							<div class="optionCol">
								<p>
									原文链接<span class="inlineTip">（选填）</span>
								</p>
								<div class="optionField">
									<input type="text" name="meLink"
										value="<{$material.original_url}>" />
								</div>
							</div>
						</form>
					</div>
				</div>
				<p class="saveMaterialBtnWrap">
					<a href="" class="intelBtn">保存</a>
				</p>
			</div>
		</div>
		<{include 'left_menu.html'}>
	</div>
</body>
</html>

<script type="text/javascript">
var editor = CKEDITOR.replace( 'materialArticle',{
    toolbar:[['Bold','Italic','Underline'],['NumberedList','BulletedList'],['Image','Link'],['RemoveFormat']]	
});
CKFinder.setupCKEditor(editor, '/js/ckeditor/' ) ;


$(function(){
	$('.hideEditTrigger').trigger('click');
	$('.intelBtn').click(function(){
	var coverCol = $('#coverCol');
		var title = $.trim(coverCol.find(':input[name=sTitle]').val());
		var aid = $.trim(coverCol.find(':input[name=aid]').val());
		var author = $.trim(coverCol.find(':input[name=sAuthor]').val());
		var thumb = $.trim(coverCol.find(':input[name=uploadPath]').val());
		var url = $.trim(coverCol.find(':input[name=sUrl]').val());
		var coverFlag = $.trim($(':input[name=coverFlag]').val());
		//var content = $.trim(coverCol.find(':input[name=sArticle]').val());
		var content = $.trim(coverCol.find('.sArticle').val());
		var original_url = $.trim(coverCol.find(':input[name=sLink]').val());

var fields = new Array();
fields = '[';
fields += '{"aid":"'+aid+'","title":"'+title+'","author":"'+author+'","content":"'+encodeURI(content)+'","thumb":"'+thumb+'","url":"'+url+'","original_url":"'+original_url+'","coverFlag":"'+coverFlag+'"}';
$('.appendColWrap .pic_txt_col').each(function(){
	var coverCol = $(this);
	var aid = $.trim(coverCol.find(':input[name=aid]').val());
	var title = $.trim(coverCol.find(':input[name=sTitle]').val());
	var author = $.trim(coverCol.find(':input[name=sAuthor]').val());
	var thumb = $.trim(coverCol.find(':input[name=uploadPath]').val());
	var url = $.trim(coverCol.find(':input[name=sUrl]').val());
	var coverFlag = $.trim(coverCol.find(':input[name=coverFlag]').val());
	//var content = $.trim(coverCol.find(':input[name=sArticle]').val());
	var content = $.trim(coverCol.find('.sArticle').val());
	var original_url = $.trim(coverCol.find(':input[name=sLink]').val());
	fields += ',{"aid":"'+aid+'","title":"'+title+'","author":"'+author+'","content":"'+encodeURI(content)+'","thumb":"'+thumb+'","url":"'+url+'","original_url":"'+original_url+'","coverFlag":"'+coverFlag+'"}';
});
fields += ']';
$.ajax({
	url:'/index.php/material/creat_pic_txt_save',
	data:{ "data":  fields,'mid':<{$mid}>},
	type:'post',	
	dataType:'json',
	success:function(data){
		alert(data.info);
		if(data.status == 1){
			location.href = '/index.php/material/pic_txt_msg';
		}
		
	}
});
return false;
		
	});
});

</script>