<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>edison入驻京东</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="author" content="www.zevertech.com" />
<meta http-equiv="copyright" content="zevertech 2014" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="viewport" id="viewport"
	content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="MobileOptimized" content="800">
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="/template/egg/css/reset.css">
<link rel="stylesheet" href="/template/egg/css/swiper.css">
<link rel="stylesheet" href="/template/egg/css/layout.css">
<script src="/template/egg/js/jquery.js"></script>
<script src="/template/egg/js/common.js"></script>
<script type="text/javascript"
	src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!-- Demo styles -->
<style>
html, body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper-container {
	width: 100%;
	height: 100%;
}
</style>
</head>
<body>
	<!-- Swiper -->
	<div class="loadingbox"></div>
	<input type="hidden" name="openid" id="openid" value="<{$openid}>">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide t0">
				<a href="" class="logo "><img src="/template/egg/img/logo.png"></a>
				<img src="/template/egg/img/index1.png"
					style="width: 640px; height: 536px;" /> <img
					src="/template/egg/img/index2.png"
					style="width: 640px; height: 198px;" /> <a
					href="http://item.jd.com/1494797.html" class="index_lastA"><img
					src="/template/egg/img/bug_pro.png" /></a> <a
					href="/index.php/GameInfo/show/tl/rules.html" class="index_lastA"><img
					src="/template/egg/img/share.png" /></a>
			</div>
			<div class="swiper-slide t01">
				<a href="" class="logo infor_logo"><img
					src="/template/egg/img/logo.png"></a> <img
					src="/template/egg/img/index2_1.png"
					style="width: 640px; height: 164px;" /> <img
					src="/template/egg/img/index2_2.png"
					style="width: 640px; height: 310px;" />
				<div class="index2_3">
					<p>
						英特尔 Edison 是一个简单易用的通用计算平台，它面向<span>创客（MAKER），创业者， 初创企业，
							学生，电子艺术家，时尚设计师等</span>
					</p>
					<p>提供几乎零门槛的产品快速原型开发能力，</p>
					<p>为特定的用户及需求提供多元化的产品。</p>
				</div>
				<div class="index2_4">
					<!--<a href=""><img src="/template/egg/img/bug_pro.png" class="buy_pro"/></a>-->
					<a href="http://third.buzzopt.com/maker_h5/template/index.html"
						class="test_zero"><img src="/template/egg/img/join.png" /></a>
				</div>
			</div>
			<div class="swiper-slide t1">
				<a href="" class="logo infor_logo"><img
					src="/template/egg/img/logo.png"></a>
				<div class="buy">
					<p class="edison">有了Edison</p>
					<p>带你玩转飞行器</p>
					<a href="http://item.jd.com/1494797.html" class="btn_buy"></a>
				</div>
			</div>
			<div class="swiper-slide t2">
				<a href="" class="logo"><img src="/template/egg/img/logo.png"></a>
				<div class="buy">
					<p class="edison">有了Edison</p>
					<p>让残疾人生活更容易</p>
					<a href="http://item.jd.com/1494797.html" class="btn_buy"></a>
				</div>
			</div>
			<div class="swiper-slide t3">
				<a href="" class="logo"><img src="/template/egg/img/logo.png"></a>
				<div class="buy">
					<p class="edison">有了Edison</p>
					<p>想象力将是你与梦想的唯一障碍</p>
					<a href="http://item.jd.com/1494797.html" class="btn_buy"></a>
				</div>
			</div>
			<div class="swiper-slide t4">
				<a href="" class="logo"><img src="/template/egg/img/logo.png"></a>
				<div class="buy">
					<p class="edison">有了Edison</p>
					<p>摇身一变机器人</p>
					<a href="http://item.jd.com/1494797.html" class="btn_buy"></a>
				</div>
			</div>
			<div class="swiper-slide t5">
				<a href="" class="logo"><img src="/template/egg/img/logo.png"></a>
				<div class="buy">
					<p class="edison">有了Edison</p>
					<p>轻松实现健康监测</p>
					<a href="http://item.jd.com/1494797.html" class="btn_buy"></a>
				</div>
			</div>
			<div class="swiper-slide t6">
				<a href="" class="logo"><img src="/template/egg/img/logo.png"></a>
				<div class="buy">
					<p class="edison">有了Edison</p>
					<p>可穿戴设备让生活变得有意思</p>
					<a href="http://item.jd.com/1494797.html" class="btn_buy"></a>
				</div>
			</div>
			<div class="swiper-slide t7">
				<a href="" class="logo"><img src="/template/egg/img/logo.png"></a>
				<div class="buy">
					<p class="edison">有了Edison</p>
					<p>跨步智能家居时代</p>
					<a href="http://item.jd.com/1494797.html" class="btn_buy"></a>
				</div>
			</div>
			<div class="swiper-slide t8">
				<a href="" class="logo"><img src="/template/egg/img/logo.png"></a>
				<div class="buy">
					<p class="edison">有了Edison</p>
					<p>智能玩具让娱乐高端起来</p>
					<a href="http://item.jd.com/1494797.html" class="btn_buy"></a>
				</div>
			</div>
		</div>
		<a href="#" class="down swiper-button-next"><img
			src="/template/egg/img/down.png"></a>
	</div>
	<!-- Initialize Swiper -->
	<script src="/template/egg/js/swiper.js"></script>
	<script>
     var swiper = new Swiper('.swiper-container', {
        speed:800,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        direction: 'vertical',
        keyboardControl : true,
        mousewheelControl : true,
        nextButton:'.swiper-button-next',
        prevButton:'.swiper-button-prev',
        noSwipingClass : 'stop-swiping',
        onSlideChangeEnd:function(swiper){
            if(swiper.activeIndex+1 === $(".swiper-slide").size()){
                $(".swiper-button-next").hide();
            }else{
                $(".swiper-button-next").show();
            }
        }
    });

    </script>
	<script type="text/javascript"
		src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
function jsonpcallback(data){
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: data.appid, // 必填，公众号的唯一标识
        timestamp:data.timestamp, // 必填，生成签名的时间戳
        nonceStr: data.noncestr, // 必填，生成签名的随机串
        signature: data.signature,// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        //分享到朋友圈
        wx.onMenuShareTimeline({
              title: 'edison入住京东，晒订单去旅行，500元大奖天天送',
              link: '',
              imgUrl:'http://intelonlinetest.buzzopt.com/template/egg/img/share.jpg',
              success: function (res) {
                // 用户确认分享后执行的回调函数
              },
              cancel: function (res) {
                // 用户取消分享后执行的回调函数
              }
            });
          
        wx.onMenuShareAppMessage({
            title: 'edison入住京东', // 分享标题
            desc: 'edison入住京东，晒订单去旅行，500元大奖天天送', // 分享描述
            link: '',
            imgUrl:'http://intelonlinetest.buzzopt.com/template/egg/img/share.jpg',
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
}
</script>
	<script type="text/javascript"
		src="http://m.zevertech.com/index.php/jssdk?jsonpcallback=jsonpcallback"></script>
	<script type="text/javascript" src="/template/egg/js/ga.js"></script>
</body>
</html>