<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="author" content="www.zevertech.com" />
<meta http-equiv="copyright" content="zevertech 2014" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="viewport" id="viewport"
	content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="MobileOptimized" content="800">
<meta name="format-detection" content="telephone=no" />
<title>edison入驻京东</title>
<link rel="stylesheet" href="/template/egg/css/reset.css">
<link rel="stylesheet" href="/template/egg/css/layout.css">
<script src="/template/egg/js/jquery.js"></script>
<script src="/template/egg/js/common.js"></script>
<script type="text/javascript"
	src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body class="container_rules">
	<div class="loadingbox"></div>
	<input type="hidden" name="openid" id="openid" value="{openid}">
	<div class="logo infor_logo">
		<img src="/template/egg/img/logo.png" />
	</div>
	<div class="rules_main">
		<div class="rule_top">
			<h2>活动规则</h2>
			<p>
				<span>【参与条件】</span>
			</p>
			<p>凡在京东商城购买Edison开发板的用户均可参与。</p>
			<p>
				<span>【参与方式】</span>
			</p>
			<p>1.关注“英特尔中国在线”微信公众号；</p>
			<p>2.点击主页菜单中的“京东Edison”</p>
			<h3 style="margin-top: 10px;">
				<img src="/template/egg/img/rules1.png" />
			</h3>
			<p>3.输入在京东商城购买的已支付的Edison订单号</p>
			<p>
				<span>【奖品大放送】</span>
			</p>
			<h3 style="text-align: left; text-indent: 10px;">
				<img src="/template/egg/img/rules2.png" />
			</h3>
			<p>
				<span>【活动时间】</span>
			</p>
			<p>2015年6月19日——2015年6月30日</p>
			<div class="rules_add">
				<p>中奖信息将在7.30日后进行审核，如订单号有误，将错过本次机会，中奖信息可到自定义菜单个人中心内查询</p>
			</div>
			<p style="text-align: center; text-indent: 0px; margin-top: 10px;">
				<a href="/index.php/GameInfo/show/tl/form" class="rules_lastA"><img
					src="/template/egg/img/play.png" /></a>
			</p>
		</div>
	</div>
	<script type="text/javascript"
		src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
function jsonpcallback(data){
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: data.appid, // 必填，公众号的唯一标识
        timestamp:data.timestamp, // 必填，生成签名的时间戳
        nonceStr: data.noncestr, // 必填，生成签名的随机串
        signature: data.signature,// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        //分享到朋友圈
        wx.onMenuShareTimeline({
              title: 'edison入住京东，晒订单去旅行，500元大奖天天送',
              link: '',
              imgUrl:'http://intelonlinetest.buzzopt.com/template/egg/img/share.jpg',
              success: function (res) {
                // 用户确认分享后执行的回调函数
              },
              cancel: function (res) {
                // 用户取消分享后执行的回调函数
              }
            });
          
        wx.onMenuShareAppMessage({
            title: 'edison入住京东', // 分享标题
            desc: 'edison入住京东，晒订单去旅行，500元大奖天天送', // 分享描述
            link: '',
            imgUrl:'http://intelonlinetest.buzzopt.com/template/egg/img/share.jpg',
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });
}
</script>
	<script type="text/javascript"
		src="http://m.zevertech.com/index.php/jssdk?jsonpcallback=jsonpcallback"></script>
	<script type="text/javascript" src="js/ga.js"></script>
</body>
</html>
