<{include 'wap/head.html'}>
<script type="text/javascript">
	$(function () {
		$(".employboxli").live('click',function () {
			location.href=$(this).attr("data-url");
		});
		$(".tags .tagli").click(function () {
			$(".tags .tagli").removeClass("active").find(".tagradio").attr({"checked":false});
			$(this).addClass("active").find(".tagradio").attr({"checked":true});
		});
	});
	var myScroll;
	var pullDownEl;
	var pullDownOffset;
	var pullUpEl;
	var pullUpOffset;
	var count = 0;
	function pullDownAction() {//上拉事件
//		setTimeout(function() {
//			$(".employbox_c").prepend($(".employboxlist_prependbox").html());
//			//myScroll.refresh(); // 刷新
//		}, 1000); //1秒
//		//$(".aclist").prepend($(".aclist_prependbox").html());
//		//myScroll.refresh();
	}
	function search(){
		var keyword = $.trim($('input[name=keyword]').val());
		//if(keyword){
			$(".employbox_c").html('');
			loadList();	
		//}		
	}
	function loadList(p){
		var type = $('input[name=tagradio]:checked').val();
		var keyword = $.trim($('input[name=keyword]').val());
		var cid = <{$cid}>;
		$.post('/index.php/wapRecruitment/lists/p/'+p+ '/type/'+type+'/keyword/'+keyword+'/cid/'+cid,function(data){
				if(p==1){
					$(".employbox_c").html(data);
					loadList(2);
				}else{
					$(".employboxlist_appendbox").html(data);
				}				
		});
	}
	
	function pullUpAction() {//下拉事件
		$("body").scrollTop(100);
		$(".employbox_c").append($(".employboxlist_appendbox").html());
		var num = $('.employbox_c .employboxli').size();
        var p = Math.ceil(num/5) +1;   
		loadList(p);
		myScroll.refresh();
	}
	function loaded() {//加载完成
		pullDownEl = document.getElementById('pullDown');
		pullDownOffset = pullDownEl.offsetHeight;
		pullUpEl = document.getElementById('pullUp');
		pullUpOffset = pullUpEl.offsetHeight;
		myScroll = new iScroll(
				'wrapper',
				{
					useTransition : true,
					topOffset : pullDownOffset,
					onRefresh : function() {
						if (pullDownEl.className.match('loading')) {
							pullDownEl.className = '';
							//pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉刷新...';
						} else if (pullUpEl.className.match('loading')) {
							pullUpEl.className = '';
							//pullUpEl.querySelector('.pullUpLabel').innerHTML = '显示更多...';
						}
					},
					onScrollMove : function() {
						if (this.y > 5 && !pullDownEl.className.match('flip')) {
							pullDownEl.className = 'flip';
							//pullDownEl.querySelector('.pullDownLabel').innerHTML = '准备刷新...';
							this.minScrollY = 0;
						} else if (this.y < 5
								&& pullDownEl.className.match('flip')) {
							pullDownEl.className = '';
							//pullDownEl.querySelector('.pullDownLabel').innerHTML = '准备刷新...';
							this.minScrollY = -pullDownOffset;
						} else if (this.y < (this.maxScrollY - 5)
								&& !pullUpEl.className.match('flip')) {
							pullUpEl.className = 'flip';
							//pullUpEl.querySelector('.pullUpLabel').innerHTML = '准备刷新...';
							this.maxScrollY = this.maxScrollY;
						} else if (this.y > (this.maxScrollY + 5)
								&& pullUpEl.className.match('flip')) {
							pullUpEl.className = '';
							//pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉显示更多...';
							this.maxScrollY = pullUpOffset;
						}
					},
					onScrollEnd : function() {
						if (pullDownEl.className.match('flip')) {
							pullDownEl.className = 'loading';
							//pullDownEl.querySelector('.pullDownLabel').innerHTML = 'Loading...';
							pullDownAction(); // Execute custom function (ajax call?)
						} else if (pullUpEl.className.match('flip')) {
							pullUpEl.className = 'loading';
							//pullUpEl.querySelector('.pullUpLabel').innerHTML = 'Loading...';
							//alert(111);
							
							//$(".aclist").append($(".aclist_appendbox").html());
						   pullUpAction(); // Execute custom function (ajax call?)
						}
					}
				});
 
		setTimeout(function() {
			document.getElementById('wrapper').style.left = '0';
		}, 800);
	}
 
	document.addEventListener('touchmove', function(e) {
		//e.preventDefault();
	}, false);
 
	document.addEventListener('DOMContentLoaded', function() {
		setTimeout(loaded, 200);
	}, false);

</script>
<body class="bggray">
	<div class="loadingbox"></div>
	<div class="container">
		<div class="employbox">
			<div class="employ_frm">

				<input type="text" class="searchipt_e" placeholder="请输入关键词"
					name="keyword" />
				<button class="searchbtn_e" onclick="search()"></button>
				<div class="tags">
					<span class="tagli active">公司名称<input type="radio"
						value="company" class="tagradio" name="tagradio" checked /></span> <span
						class="tagli">职位名称<input type="radio" value="title"
						class="tagradio" name="tagradio" /></span>
				</div>

			</div>
			<div id="wrapper" data-role="content" style="top: 170px">
				<div id="scroller">
					<div id="pullDown">
						<span class="pullDownLabel">
							<!--准备刷新...-->
						</span>
					</div>
					<div class="employbox_c">
						<!-- <div class="employboxli" data-url="employ_detail.html">
							<div class="logo"><img src="images/logo.png" alt="" /></div>
							<div class="employboxli_c">
								<h2>小米科技</h2>
								<p>职位：编辑   人数：03</p>
							</div>
						</div> -->
					</div>
					<div class="employboxlist_appendbox hiddenbox">
						<!-- <div class="employboxli" data-url="employ_detail.html">
							<div class="logo"><img src="images/logo.png" alt="" /></div>
							<div class="employboxli_c">
								<h2>append小米科技</h2>
								<p>职位：编辑   人数：03</p>
							</div>
						</div> -->
					</div>
					<div id="pullUp">
						<span class="pullUpLabel">
							<!--显示更多...-->
						</span>
					</div>
				</div>
			</div>

		</div>
	</div>
	<{include 'wap/footer.html'}>
</body>
<script>
loadList(1);
</script>
</html>
