<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片</title>
<link href="/css/main.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/skins/blue.css" />
<link rel="stylesheet" type="text/css" href="/css/material.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/artDialog.js"></script>
<script type="text/javascript" src="/js/iframeTools.js"></script>
</head>
<!-- <body onload="loadContent('',$('.intelListWrap'),'/index.php/membergroup/group_list')"> -->
<body>
	<div class="container">
		<{include 'admin/public/header.html'}>
		<div class="main">
			<div class="mainWrap">
				<ul class="intelListWrap materialPicTxtWrap">
					<li class="oneContent">
						<p class="materialPicTxtTtl">新的001撒发生非撒啥法萨芬撒的发生发达啥撒旦法萨芬的</p>
						<p class="materialPicTxtDate">2014-04-01</p>
						<div class="materialPicWrapCover">
							<img src="/images/material/proxy.jpg" />
						</div>
						<p class="materialPicTxtComment">阿斯顿飞洒阿斯顿飞洒发啊萨菲大厦的发生发生的暗示法撒旦发撒发生非啊沙发撒阿斯顿发生地方萨芬啊沙发撒啊沙发撒啊沙发撒旦法师法暗示法萨芬仨飞萨芬的撒旦飞洒阿斯顿发生啊沙发撒啊沙发撒飞洒撒旦法斯蒂芬啊沙发</p>
						<div class="materialPicTxtBottom">
							<a href="javascript:void(0);" onclick=""
								class="editMaterialBtn()">编辑</a> <a href="javascript:void(0);"
								onclick="delMaterialBtn()">删除</a> <i></i>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<{include 'admin/public/left_menu.html'}>
	</div>
</body>
</html>