@charset "UTF-8";
/**  @authors Kolf @date    2014-06-16 14:33:39 */
img {
	border: 0;
	vertical-align: middle;
	max-width: 100%;
}

/* function */
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-primary {
	color: #008dd4;
}

.text-warning {
	color: red;
}

.bordered {
	border: 1px solid #eee;
}

.pad {
	padding: 10px;
}

.pad-bottom {
	padding-bottom: 10px;
}

.pad-left {
	padding-left: 10px;
}

.pad-right {
	padding-right: 10px;
}

.pad-top {
	padding-top: 10px;
}

.gap-top {
	margin-top: 10px;
}

.gap-left {
	margin-left: 10px;
}

.gap-right {
	margin-right: 10px;
}

.gap-bottom {
	margin-bottom: 10px;
}

.hide {
	display: none !important;
}

.font-12 {
	font-size: 12px;
}

/* grid */
.grid {
	width: 100%;
}

.grid:before, .grid:after {
	content: " ";
	display: table;
}

.grid:after {
	clear: both;
}

.grid-pad {
	margin: 0 -10px 10px;
}

.grid-pad>.span {
	padding: 0 10px;
}

.span {
	float: left;
}

.span-1 {
	width: 8.33333%;
}

.span-2 {
	width: 16.66667%;
}

.span-3 {
	width: 25%;
}

.span-4 {
	width: 33.33333%;
}

.span-5 {
	width: 41.66667%;
}

.span-6 {
	width: 50%;
}

.span-7 {
	width: 58.33333%;
}

.span-8 {
	width: 66.66667%;
}

.span-9 {
	width: 75%;
}

.span-10 {
	width: 83.33333%;
}

.span-11 {
	width: 91.66667%;
}

.span-12 {
	width: 100%;
}

/* pagination */
.pagination ul {
	display: inline-block;
}

.pagination li {
	float: left;
}

.pagination li:first-child a {
	border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
	border-radius: 0 3px 3px 0;
}

.pagination a {
	background-color: #fff;
	border: 1px solid #ddd;
	display: inline-block;
	margin-left: -1px;
	padding: 4px 10px;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.pagination a:hover {
	background: #e5e5e5;
}

.nav-tabs {
	border-bottom: 1px solid #ccc;
}

.nav-tabs a {
	border: 1px solid #ccc;
	padding: 6px 24px;
	background: #eee;
	float: left;
	display: inline-block;
	margin-bottom: -1px;
	margin-left: -1px;
}

.nav-tabs a.active {
	border-bottom-color: #ccc;
	background: #ccc;
}

.nav-tabs a:first-of-type {
	border-radius: 4px 0 0 0;
}

.nav-tabs a:last-of-type {
	border-radius: 0 4px 0 0;
}

/* form */
select, textarea, input[type="text"], input[type="password"], input[type="time"],
	input[type="date"] {
	border: 1px solid #ccc;
	padding: 1px 5px;
	font-family: inherit;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	border-radius: 2px 2px 2px 2px;
}

select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
	input[type="time"]:focus, input[type="date"]:focus {
	border: 1px solid #008dd4;
	box-shadow: 0 0 4px #008dd4;
}

select {
	padding: 1px 2px;
}

button {
	padding: 0px;
	cursor: pointer;
	background: none repeat scroll 0px 0px transparent;
	border: 0px none;
}

input[type="radio"], input[type="checkbox"] {
	margin: 4px 3px 0 0;
	float: left;
}

.control-label {
	text-align: right;
	padding-right: 10px;
}

.control-form label {
	margin-right: 20px;
}

.form-group {
	margin-bottom: 8px;
}

/* button */
.btn {
	border-radius: 2px 2px 2px 2px;
	border: 0;
	outline: 0;
	color: #444;
	margin-right: .2em;
	text-align: center;
	padding: 2px 16px;
	font: 14px/18px inherit;
	display: inline-block;
	background: #e5e5e5;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.btn:last-child {
	margin-right: 0;
}

.btn:hover {
	background: #cccccc;
}

.btn.disabled, .btn[disabled], .btn.disabled:hover, .btn[disabled]:hover
	{
	cursor: default;
	background-color: #e6e6e6;
	opacity: 0.65;
}

.btn-primary {
	background: #008dd4;
	color: #fff;
}

.btn-mini {
	font: 12px/16px inherit !important;
	padding: 0 5px;
	font-weight: 400;
}

.btn-lg {
	font-size: 20px;
	padding: 15px 40px;
}

.tabs {
	margin-left: 100px;
}

.tabs-nav a {
	color: #fff;
	padding: 3px 30px;
	background: #ccc;
	display: inline-block;
}

.tabs-nav a.active {
	background: #008DD4;
}

.tabs-panel {
	border: 1px solid #008DD4;
	padding: 15px;
	display: none;
	width: 700px;
}

.tabs-panel.active {
	display: block;
}

.j-form-cont {
	display: none;
}

.j-form-cont.active {
	display: block;
}

/*优惠卷缩略图*/
.coupon-thumb {
	width: 400px;
	background: #fff;
}

.coupon-thumb img {
	width: 200px;
	height: 110px;
}

.coupon-thumb .thumb {
	position: relative;
}

.coupon-thumb .thumb-title {
	position: absolute;
	left: 90px;
	top: 30px;
	right: 10px;
	color: #fff;
	background: #008dd4;
	padding: 2px 10px;
}

.store-item {
	background: #008dd4;
	margin: 20px 20px 0 0;
	padding: 20px;
	width: 400px;
	color: #fff;
	float: left;
	position: relative;
}

.store-item .divide {
	height: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
}

.store-item>.list>li {
	line-height: 30px;
	padding: 0;
}

.store-item>.list>li .btn {
	line-height: 20px;
}

.store-item>.list>li:hover {
	background: #008dd4;
}

.store-item .btn-view {
	position: absolute;
	top: 30px;
	right: 20px;
	background: #333;
	color: #fff;
}

.upload-thumb {
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc;
	width: 150px;
	height: 150px;
	margin-bottom: 4px;
	z-index: 0;
}

.upload-thumb-img {
	width: 148px;
	height: auto;
	position: absolute;
	z-index: 1;
	left: 0;
	height: 148px;
	top: 0;
	text-align: center;
	line-height: 144px;
}

.upload-thumb-img img {
	max-width: 148px;
	height: auto;
}

.upload-thumb-btn {
	width: 148px;
	overflow: hidden;
	height: 148px;
	opacity: 0;
	z-index: 2;
	position: relative;
}