<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>数据管理</title>
<link rel="stylesheet" href="/css/index.css">
<link href="/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery-ui.js"></script>
<script>
	    $((function($) {
		$.datepicker.regional['zh-CN'] = {
//		    clearText: '清除',
//		    clearStatus: '清除已选日期',
//		    closeText: '关闭',
//		    closeStatus: '不改变当前选择',
//		    prevText: '<上月',
//		    prevStatus: '显示上月',
//		    prevBigText: '<<',
//		    prevBigStatus: '显示上一年',
//		    nextText: '下月>',
//		    nextStatus: '显示下月',
//		    nextBigText: '>>',
//		    nextBigStatus: '显示下一年',
//		    currentText: '今天',
//		    currentStatus: '显示本月',
//		    monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
//		    monthNamesShort: ['一', '二', '三', '四', '五', '六', '七', '八', '九', '十', '十一', '十二'],
//		    monthStatus: '选择月份',
//		    yearStatus: '选择年份',
//		    weekHeader: '周',
//		    weekStatus: '年内周次',
//		    dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
//		    dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
//		    dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
//		    dayStatus: '设置 DD 为一周起始',
//		    dateStatus: '选择 m月 d日, DD',
		    dateFormat: 'yy-mm-dd',
//		    firstDay: 1,
//		    initStatus: '请选择日期',
//		    isRTL: false
		};
		$.datepicker.setDefaults($.datepicker.regional['zh-CN']);
	    })(jQuery));
	    $(function() {
		$(".datepicker").datepicker();
	    })
	</script>
</head>
<body>
	<{include 'admin/public/header.html'}>
	<div class="con">
		<{include 'admin/public/left_menu.html'}>
		<div class="rightDiv webDiv">
			<div class="u_addCon u_addConTwo">
				<img src="/images/icon1.png" alt=""> <a class="u_addClub">数据报表</a>
				<input type="button" class="groupBtn confirmBtn closeBtn"
					onclick="window.history.back();" value="关闭">
			</div>
			<table border="1" cellspacing="0" cellpadding="0" class="dateTable">
				<tr>
					<td style="text-align: center;">导出内容</td>
					<td>时间</td>
					<td>操作</td>
				</tr>
				<tr id="user">
					<td>用户信息导出：</td>
					<td>开始时间：<input type="text" class="datepicker ctime">结束时间：<input
						type="text" class="datepicker etime"></td>
					<td><input type="button" class="confirmBtn saveBtn"
						onclick="exportData('user','exportUser')" value="导出"></td>
				</tr>
				<tr id="unsubscribe">
					<td>粉丝取消关注数据：</td>
					<td>开始时间：<input type="text" class="datepicker ctime">结束时间：<input
						type="text" class="datepicker etime"></td>
					<td><input type="button" class="confirmBtn saveBtn"
						onclick="exportData('unsubscribe','exportUnsubscribe')" value="导出"></td>
				</tr>
				<tr id="imageMsg">
					<td>粉丝交互信息图片数据：</td>
					<td>开始时间：<input type="text" class="datepicker ctime">结束时间：<input
						type="text" class="datepicker etime"></td>
					<td><input type="button" class="confirmBtn saveBtn"
						onclick="exportData('imageMsg','exportImageMsg')" value="导出"></td>
				</tr>
				<tr id="textMsg">
					<td>交互信息列表：</td>
					<td>开始时间：<input type="text" class="datepicker ctime">结束时间：<input
						type="text" class="datepicker etime"></td>
					<td><input type="button" class="confirmBtn saveBtn"
						onclick="exportData('textMsg','exportTextMsg')" value="导出"></td>
				</tr>
				<tr>
					<td>按标签导出：</td>
					<td>标签： <select id="bytag">
							<option value="0">请选择标签</option> <{foreach from=$tag item='v'
							key='k'}>
							<option value="<{$v['id']}>"><{$v.name}></option> <{/foreach}>
					</select>
					</td>
					<td><input type="button" class="confirmBtn saveBtn"
						onclick="exportDataByTag('bytag','exportTag')" value="导出"></td>
				</tr>
				<tr id="newMsg48">
					<td>48小时交互信息数据：</td>
					<td>开始时间：<input type="text" class="datepicker ctime">结束时间：<input
						type="text" class="datepicker etime"></td>
					<td><input type="button" class="confirmBtn saveBtn"
						onclick="exportData('newMsg48','exportNewMsg48')" value="导出"></td>
				</tr>
			</table>
			<!-- <div class="page">
			<span>当前共有6条记录，共1页</span>
			<a href="">首页</a>
			<a href="">上一页</a>
			<a href="">1</a>
			<a href="">下一页</a>
			<a href="">末页</a>
		</div> -->
		</div>
	</div>
	<div class="addCon clubCon">
		<p class="">分组名称</p>
		<div class="group">
			<input type="checkbox">分组一 <input type="checkbox">分组二
			<input type="checkbox">分组三
		</div>
		<div class="groupBtm">
			<p>P.s 红色代表已进分组或标签，已进入分组用户将不能进入其它分组</p>
			<span class="right"> <input type="button" value="确定"
				class="groupBtn confirmBtn"> <input type="button" value="取消"
				class="groupBtn cancelBtn">
			</span>
		</div>
		<img src="/images/closeTwo.png" alt="" class="closeImg">
	</div>
	<div class="addCon labelCon">
		<p class="">标签名称</p>
		<div class="group">
			<input type="checkbox">cce <input type="checkbox">edison
			<input type="checkbox">学生
		</div>
		<div class="groupBtm">
			<p>P.s 红色代表已进分组或标签</p>
			<span class="right"> <input type="button" value="确定"
				class="groupBtn confirmBtn"> <input type="button" value="取消"
				class="groupBtn cancelBtn">
			</span>
		</div>
		<img src="/images/closeTwo.png" alt="" class="closeImg">
	</div>
	<script>
	    //导出数据
	    function exportData(id,action) {
		var ctime = $("#" + id).find(".ctime").val();
		var etime = $("#" + id).find(".etime").val();
		if (!ctime || !etime) {
		    alert("时间不能为空!");
		    return false;
		}
		if(!action){
		    alert('非法操作！');
		    return false;
		}
		var url = "/index.php/datamanage/"+ action +"/ctime/" + ctime + "/etime/" + etime;
		location.href = url;
	    }
	    //导出数据
	    function exportDataByTag(id,action) {
		var tagid = $("#" + id).val();
		if (!tagid || tagid == '') {
		    alert("没有选中标签!");
		    return false;
		}
		if(!action){
		    alert('非法操作！');
		    return false;
		}
		var url = "/index.php/datamanage/"+ action +"/tagid/" + tagid;
		location.href = url;
	    }
	</script>
</body>
</html>