<{include 'wap/head.html'}>
<body class="bggray">
	<div class="container">
		<div class="smenu">
			<a href="/index.php/wapStaff/lists/type/1"><img
				src="/template/wap/images/smenu1.png" alt="" /><span>工资查询</span></a> <a
				href="/index.php/wapStaff/lists/type/2"><img
				src="/template/wap/images/smenu2.png" alt="" /><span>社保查询</span></a> <a
				href="/index.php/wapStaff/lists/type/3"><img
				src="/template/wap/images/smenu3.png" alt="" /><span>公积金查询</span></a> <a
				href="/index.php/wapStaff/lists/type/4"><img
				src="/template/wap/images/smenu4.png" alt="" /><span>理赔查询</span></a>
		</div>
	</div>
	<{include 'wap/footer.html'}>
	<div class="loadingbox"></div>
</body>
</html>
