<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加用户组</title>
<link href="/css/main.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/skins/blue.css" />
<link rel="stylesheet" type="text/css" href="/css/K_admin.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/artDialog.js"></script>
<script type="text/javascript" src="/js/iframeTools.js"></script>
</head>
<body>
	<div class="container">
		<{include '../public/header.html'}>
		<div class="main">
			<div class="mainWrap">
				<form action='/index.php/membergroup/add_group_do' method='post'
					id='form1'>
					<h3>添加分组</h3>
					<p class="leftPadding80">
						<span class="leftSpanPos">分组名称：</span><input type="text"
							name="groupName" placeholder="填写一个分组名称" />
					</p>
					<p class="leftPadding80">
						<span class="leftSpanPos">分组说明：</span>
						<textarea name="groupDes" class="groupDes" placeholder="填写分组说明"></textarea>
					</p>
					<h3>分组粉丝条件</h3>
					<p class="leftPadding80 fansOptionWrap">
						<span class="leftSpanPos">性别：</span> <label><input
							type="radio" name="sex" value="0" checked />不限</label> <label><input
							type="radio" name="sex" value="1" />男</label> <label><input
							type="radio" name="sex" value="2" />女</label>
					</p>
					<p class="leftPadding80 fansOptionWrap">
						<span class="leftSpanPos">用户来源：</span> <label><input
							type="checkbox" name="sid[]" value="0"
							onclick="fnSetNoneOption(this)" checked />不限</label> <{foreach $sid as
						$val}> <label><input type="checkbox" name="sid[]"
							value="<{$val.sid}>" disabled /><{$val.sid}>二维码</label> <{/foreach}>
						<!--<label><input type="checkbox" name="fansSource" value="2" disabled />998二维码</label>-->
					</p>
					<p class="leftPadding80 fansOptionWrap">
						<span class="leftSpanPos">用户类型：</span> <label><input
							type="checkbox" name="type[]" value="0"
							onclick="fnSetNoneOption(this)" checked />不限</label> <label><input
							type="checkbox" name="type[]" value="1" disabled />普通粉丝</label> <label><input
							type="checkbox" name="type[]" value="2" disabled />RSP会员</label> <label><input
							type="checkbox" name="type[]" value="3" disabled />至尊地带会员</label>
					</p>
					<p class="leftPadding80 fansOptionWrap">
						<span class="leftSpanPos">用户地域：</span> <label><input
							type="checkbox" name="fansRegion" value="0" class='member_from1'
							onclick="fnSetNoneSelect(this)" />不限</label> <{memberRegion()}>
					</p>
					<p class="leftPadding80 fansOptionWrap">
						<span class="leftSpanPos">交互次数：</span> <label><input
							type="radio" name="condition_cross" value="0" checked />不限</label> <label><input
							type="radio" name="condition_cross" value="20" />大于20次</label> <label><input
							type="radio" name="condition_cross" value="50" />大于50次</label> <label><input
							type="radio" name="condition_cross" value="1" />自定义</label> <span
							class="rangeNum"> <input type="text"
							name="condition_cross_min" /><i> ~ </i><input type="text"
							name="condition_cross_max" />
						</span>
					</p>
					<p class="leftPadding80 btnWrap">
						<input type="button" class="intelBtn addGroupOprateBtn" value="保存"
							onclick="fnSaveGroup(this)" />
						<!-- <input type="button" class="intelBtn addGroupOprateBtn" value="取消" onclick="" /> -->
						<a href="/index.php/weixin/group_manage"
							class="intelBtn addGroupOprateBtn">取消</a>
					</p>
				</form>
			</div>
		</div>
		<{include '../public/left_menu.html'}>
	</div>
</body>
</html>
<script type="text/javascript">
	$(function(){
		$('#memberProvince').attr('name','province').attr('class','member_from2');
		$('#memberCity').attr('name','city').attr('class','member_from2');
		$('.member_from1').attr('checked',true);
		$('.member_from2').attr('disabled',true);
	})
	function fnSaveGroup(self){
		var groupName=$getVal($('[name=groupName]'));
		var groupDes=$getVal($('[name=groupDes]'));
		if(groupName==''){
			alert('请输入分组名称');
			return false;
		}else if(groupDes==''){
			alert('请填写分组说明');
			return false;
		}

		$('#form1').submit();
	}
/*
	function fnSaveGroup(self){
		var groupName=$getVal($('[name=groupName]'));
		var groupDes=$getVal($('[name=groupDes]'));
		if(groupName==''){
			alert('请输入分组名称');
			return false;
		}else if(groupDes==''){
			alert('请填写分组说明');
			return false;
		}else{
			process=showloading('loading...');
			
			$.ajax({
				url: '/index.php/membergroup/add_group_do/',
				data:{name:groupName,remark:groupDes},
				dataType:'json',
				type:'post',
				success: function (data){
					process.close();
					//alert(data.info);
					if(data.status){
						//alert(data.info);
						api.close();
						location.href = "loadContent('',$('.intelListWrap'),'/index.php/membergroup/group_list')";//'/index.php/membergroup/group_manage';
					}
				},
				cache: false
			});	
			
			
			alert('成功');
			<!-- var addBtn=$(self).siblings('.intelBtn');
			addBtn.removeClass('disabledBtn').attr('disabled',false);
			$('.saveGroupBtn').attr('disabled',true).addClass('disabledBtn'); -->
		}
	}
*/
	/* function fnAddNewFans(self){
		var flag=$(self).is(':disabled');
		if(flag){
			alert('请先保存用户组');
		}else{
			fnCallFansList();
		}
	} */
</script>