<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>微信用户管理_微信用户组管理-添加组</title>
<link rel="stylesheet" href="/css/index.css">
<link href="/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery-ui.js"></script>
<script>
		$(function(){

		})
	</script>
</head>
<body>
	<div class="top">
		<img src="/images/logo.jpg" alt="" />
		<p>
			Intel China Online<br /> <em>微信管理后台</em>
		</p>
		<div class="topRight">
			<ul>
				<li>admin&nbsp;|</li>
				<li>帮助&nbsp;|</li>
				<li><a href="">{退出}</a></li>
			</ul>
		</div>
	</div>
	<div class="con">
		<div class="leftDiv">
			<ul id="navigation">
				<li><a href="weixinManage.html" class="nowRight">微信用户管理</a></li>
				<li><a href="newInfoManage.html">最新资讯管理</a></li>
				<li><a href="sendManage.html">主动发送管理</a></li>
				<li><a href="labelManage.html">标签管理</a></li>
				<li><a href="serviceManage.html">客服应答</a></li>
				<li><a href="dateManage.html">数据管理</a></li>
				<li><a href="fodderManage.html">素材库</a></li>
			</ul>
		</div>
		<div class="rightDiv weixinDiv">
			<div class="u_addCon u_addConTwo">
				<img src="/images/icon1.png" alt=""> <a href="addwxuClub.html"
					class="u_addClub">添加分组</a> <input type="button"
					class="groupBtn confirmBtn closeBtn"
					onclick="window.history.back();" value="关闭">
			</div>
			<table border="0" cellspacing="0" cellpadding="0" class="wxuTable">
				<tr>
					<td>分组名称：</td>
					<td><input type="text" placeholder="10个字符以内"></td>
				</tr>
				<tr>
					<td>分组说明：</td>
					<td><textarea name="" id="" cols="65" rows="10"></textarea></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;"><input
						type="button" value="保存" class="confirmBtn saveBtn"> <input
						type="button" value="取消" onclick="window.history.back();"
						class="noneBtn"></td>
				</tr>
			</table>

		</div>
	</div>
</body>
</html>