<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>微信用户管理_微信用户组管理-详情</title>
<link rel="stylesheet" href="/css/index.css">
<link href="/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery-ui.js"></script>
<script>
	$(function(){
		
	})
	</script>
</head>
<body>
	<div class="top">
		<img src="/images/logo.jpg" alt="" />
		<p>
			Intel China Online<br /> <em>微信管理后台</em>
		</p>
		<div class="topRight">
			<ul>
				<li>admin&nbsp;|</li>
				<li>帮助&nbsp;|</li>
				<li><a href="">{退出}</a></li>
			</ul>
		</div>
	</div>
	<div class="con">
		<div class="leftDiv">
			<ul id="navigation">
				<li><a href="weixinManage.html" class="nowRight">微信用户管理</a></li>
				<li><a href="weixinManage.html">最新资讯管理</a></li>
				<li><a href="sendManage.html">主动发送管理</a></li>
				<li><a href="labelManage.html">标签管理</a></li>
				<li><a href="serviceManage.html">客服应答</a></li>
				<li><a href="dateManage.html">数据管理</a></li>
				<li><a href="fodderManage.html">素材库</a></li>
			</ul>
		</div>
		<div class="rightDiv weixinDiv">
			<div class="detailTitle">
				<p>分组一</p>
				<span onclick="window.history.back();">关闭</span>
			</div>
			<div class="webTitle detailSearch">
				<span><input type="text" class="searchTxt"></span>
			</div>
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>序号</td>
					<td>昵称</td>
					<td>性别</td>
					<td>地域</td>
					<td>操作</td>
				</tr>
				<tr>
					<td>1</td>
					<td>xiaoxiang</td>
					<td>男</td>
					<td>北京</td>
					<td><a href="">删除</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td>xiaoxiang</td>
					<td>男</td>
					<td>北京</td>
					<td><a href="">删除</a></td>
				</tr>
				<tr>
					<td>3</td>
					<td>xiaoxiang</td>
					<td>男</td>
					<td>北京</td>
					<td><a href="">删除</a></td>
				</tr>
				<tr>
					<td>4</td>
					<td>xiaoxiang</td>
					<td>男</td>
					<td>北京</td>
					<td><a href="">删除</a></td>
				</tr>
				<tr>
					<td>5</td>
					<td>xiaoxiang</td>
					<td>男</td>
					<td>北京</td>
					<td><a href="">删除</a></td>
				</tr>
			</table>
			<div class="detailBtn">
				<input type="button" value="保存" class="confirmBtn saveBtn">
				<input type="button" value="取消" onclick="window.history.back();"
					class="noneBtn">
			</div>
			<!-- <div class="page">
				<span>当前共有6条记录，共1页</span>
				<a href="">首页</a>
				<a href="">上一页</a>
				<a href="">1</a>
				<a href="">下一页</a>
				<a href="">末页</a>
			</div> -->
		</div>
	</div>
</body>
</html>