<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>素材库-文本素材</title>
<link rel="stylesheet" href="/css/index.css">
<link href="/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery-ui.js"></script>
<script>
	$(function(){
		
	})
	</script>
</head>
<body>
	<div class="top">
		<img src="/images/logo.jpg" alt="" />
		<p>
			Intel China Online<br /> <em>微信管理后台</em>
		</p>
		<div class="topRight">
			<ul>
				<li>admin&nbsp;|</li>
				<li>帮助&nbsp;|</li>
				<li><a href="">{退出}</a></li>
			</ul>
		</div>
	</div>
	<div class="con">
		<div class="leftDiv">
			<ul id="navigation">
				<li><a href="weixinManage.html">微信用户管理</a></li>
				<li><a href="newInfoManage.html">最新资讯管理</a></li>
				<li><a href="sendManage.html">主动发送管理</a></li>
				<li><a href="labelManage.html">标签管理</a></li>
				<li><a href="serviceManage.html">客服应答</a></li>
				<li><a href="dateManage.html">数据管理</a></li>
				<li><a href="fodderManage.html" class="nowRight">素材库</a></li>
			</ul>
		</div>
		<div class="rightDiv webDiv">
			<div class="webTitle weixinTitle">
				<a href="fodderManage.html" class="nowTitle">文本素材</a> <a
					href="picTxt.html">图文素材</a> <span><input type="text"
					class="searchTxt"></span>

			</div>
			<div class="fodderBtn">
				<a href="addFodder.html"><input type="button" class="addFodder"
					value="添加文本素材"></a>
			</div>
			<table border="1" cellspacing="0" cellpadding="0"
				style="float: left;">
				<tr>
					<td>序号</td>
					<td>标题</td>
					<td>内容简介</td>
					<td>创建日期</td>
					<td>操作</td>
				</tr>
				<tr>
					<td>1</td>
					<td>大数据时代</td>
					<td>创业,分享会"活动"Intel CCE,国内首批Edison,免费送!"开始结束时间、地址、活动地图、票价、票务</td>
					<td>2015-3-25</td>
					<td><a href="">修改</a> <a href="">删除</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td>大数据时代</td>
					<td>创业,分享会"活动"Intel CCE,国内首批Edison,免费送!"开始结束时间、地址、活动地图、票价、票务</td>
					<td>2015-3-25</td>
					<td><a href="">修改</a> <a href="">删除</a></td>
				</tr>
				<tr>
					<td>3</td>
					<td>大数据时代</td>
					<td>创业,分享会"活动"Intel CCE,国内首批Edison,免费送!"开始结束时间、地址、活动地图、票价、票务</td>
					<td>2015-3-25</td>
					<td><a href="">修改</a> <a href="">删除</a></td>
				</tr>
			</table>
			<div class="page">
				<span>当前共有6条记录，共1页</span> <a href="">首页</a> <a href="">上一页</a> <a
					href="">1</a> <a href="">下一页</a> <a href="">末页</a>
			</div>
		</div>
	</div>
	<div class="addCon clubCon">
		<p class="">分组名称</p>
		<div class="group">
			<input type="checkbox">分组一 <input type="checkbox">分组二
			<input type="checkbox">分组三
		</div>
		<div class="groupBtm">
			<p>P.s 红色代表已进分组或标签，已进入分组用户将不能进入其它分组</p>
			<span class="right"> <input type="button" value="确定"
				class="groupBtn confirmBtn"> <input type="button" value="取消"
				class="groupBtn cancelBtn">
			</span>
		</div>
		<img src="/images/closeTwo.png" alt="" class="closeImg">
	</div>
	<div class="addCon labelCon">
		<p class="">标签名称</p>
		<div class="group">
			<input type="checkbox">cce <input type="checkbox">edison
			<input type="checkbox">学生
		</div>
		<div class="groupBtm">
			<p>P.s 红色代表已进分组或标签</p>
			<span class="right"> <input type="button" value="确定"
				class="groupBtn confirmBtn"> <input type="button" value="取消"
				class="groupBtn cancelBtn">
			</span>
		</div>
		<img src="/images/closeTwo.png" alt="" class="closeImg">
	</div>
</body>
</html>