<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>最新资讯管理</title>
<link rel="stylesheet" href="/css/index.css">
<link href="/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery-ui.js"></script>
<script>
	$(function(){
		
	})
	</script>
</head>
<body>
	<div class="top">
		<img src="/images/logo.jpg" alt="" />
		<p>
			Intel China Online<br /> <em>微信管理后台</em>
		</p>
		<div class="topRight">
			<ul>
				<li>admin&nbsp;|</li>
				<li>帮助&nbsp;|</li>
				<li><a href="">{退出}</a></li>
			</ul>
		</div>
	</div>
	<div class="con">
		<div class="leftDiv">
			<ul id="navigation">
				<li><a href="weixinManage.html">微信用户管理</a></li>
				<li><a href="newInfoManage.html" class="nowRight">最新资讯管理</a></li>
				<li><a href="sendManage.html">主动发送管理</a></li>
				<li><a href="labelManage.html">标签管理</a></li>
				<li><a href="serviceManage.html">客服应答</a></li>
				<li><a href="dateManage.html">数据管理</a></li>
				<li><a href="fodderManage.html">素材库</a></li>
			</ul>
		</div>
		<div class="rightDiv weixinDiv">
			<div class="webTitle labelTitle">
				<img src="/images/icon1.png" alt=""> <a href="addLabel.html">添加标签</a>
				<span><input type="text" class="searchTxt"></span>
			</div>
			<table border="1" cellspacing="0" cellpadding="0">
				<tr>
					<td>序号</td>
					<td>缩略图</td>
					<td>标题</td>
					<td>简介</td>
					<td>操作</td>
					<td>权重</td>
				</tr>
				<tr>
					<td>1</td>
					<td>缩略图</td>
					<td>CCE Edison 挑战赛在深圳隆重开幕</td>
					<td>2015年3月25日，Intel CCE Edison 挑战赛在深圳隆重开幕，各路豪强.</td>
					<td><a href="">发布</a> <a href="">预览</a> <a href="">修改</a> <a
						href="">删除</a></td>
					<td>100</td>
				</tr>
				<tr>
					<td>2</td>
					<td>缩略图</td>
					<td>CCE Edison 挑战赛在深圳隆重开幕</td>
					<td>2015年3月25日，Intel CCE Edison 挑战赛在深圳隆重开幕，各路豪强.</td>
					<td><a href="">发布</a> <a href="">预览</a> <a href="">修改</a> <a
						href="">删除</a></td>
					<td>100</td>
				</tr>
				<tr>
					<td>3</td>
					<td>缩略图</td>
					<td>CCE Edison 挑战赛在深圳隆重开幕</td>
					<td>2015年3月25日，Intel CCE Edison 挑战赛在深圳隆重开幕，各路豪强.</td>
					<td><a href="">发布</a> <a href="">预览</a> <a href="">修改</a> <a
						href="">删除</a></td>
					<td>100</td>
				</tr>
			</table>
			<div class="page">
				<span>当前共有6条记录，共1页</span> <a href="">首页</a> <a href="">上一页</a> <a
					href="">1</a> <a href="">下一页</a> <a href="">末页</a>
			</div>
		</div>
	</div>
</body>
</html>