<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>素材库-图文素材</title>
<link rel="stylesheet" href="/css/index.css">
<link href="/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery-ui.js"></script>

<link href="/css/main.css" type="text/css" rel="stylesheet" />
<link href="/css/K_admin.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/skins/blue.css" />
<link rel="stylesheet" type="text/css" href="/css/material.css" />
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/artDialog.js"></script>
<script type="text/javascript" src="/js/iframeTools.js"></script>
<script>
	$(function(){
		$(".lookBtn").click(function(){
			window.location.href="preview.html";
		})
	})
	</script>
</head>
<body>
	<div class="top">
		<img src="/images/logo.jpg" alt="" />
		<p>
			Intel China Online<br /> <em>微信管理后台</em>
		</p>
		<div class="topRight">
			<ul>
				<li>admin&nbsp;|</li>
				<li>帮助&nbsp;|</li>
				<li><a href="">{退出}</a></li>
			</ul>
		</div>
	</div>
	<div class="con">
		<div class="leftDiv">
			<ul id="navigation">
				<li><a href="weixinManage.html">微信用户管理</a></li>
				<li><a href="newInfoManage.html">最新资讯管理</a></li>
				<li><a href="sendManage.html">主动发送管理</a></li>
				<li><a href="labelManage.html">标签管理</a></li>
				<li><a href="serviceManage.html">客服应答</a></li>
				<li><a href="dateManage.html">数据管理</a></li>
				<li><a href="fodderManage.html" class="nowRight">素材库</a></li>
			</ul>
		</div>
		<div class="rightDiv webDiv">
			<div class="webTitle weixinTitle">
				<a href="fodderManage.html">文本素材</a> <a href="picTxt.html"
					class="nowTitle">图文素材</a> <span><input type="text"
					class="searchTxt"></span>
			</div>
			<div class="fodderBtn">
				<a href="addPicTxt.html"><input type="button" class="addFodder"
					value="添加单图文消息"></a> <a href="addPicTxtTwo.html"><input
					type="button" class="addFodder" value="添加多图文消息"
					style="margin-left: 10px;"></a>
			</div>
			<div class="mainWrap">
				<ul class="intelListWrap materialPicTxtWrap">
					<div class="materialCol leftMaterial">
						<li class="materialPicTxtList oneContent"><input
							type="button" value="预览" class="lookBtn">
							<p class="materialPicTxtTtl">新的啥撒旦法萨芬的</p>
							<p class="materialPicTxtDate">2014-04-01</p>
							<div class="materialPicWrapCover">
								<img src="/images/material/proxy.jpg" />
							</div>
							<p class="materialPicTxtComment">阿</p>
							<div class="materialPicTxtBottom">
								<a href="javascript:void(0);" onclick="editMaterialBtn()">编辑</a>
								<a href="javascript:void(0);" onclick="delMaterialBtn()">删除</a>
								<i></i>
							</div></li>
						<li class="materialPicTxtList oneContent"><input
							type="button" value="预览" class="lookBtn">
							<p class="materialPicTxtTtl">新的001撒发生非撒啥法萨芬撒的发生发达啥撒旦法萨芬的</p>
							<p class="materialPicTxtDate">2014-04-01</p>
							<div class="materialPicWrapCover">
								<img src="/images/material/proxy.jpg" />
							</div>
							<p class="materialPicTxtComment">阿斯</p>
							<div class="materialPicTxtBottom">
								<a href="javascript:void(0);" onclick="editMaterialBtn()">编辑</a>
								<a href="javascript:void(0);" onclick="delMaterialBtn()">删除</a>
								<i></i>
							</div></li>
					</div>
					<div class="materialCol leftMaterial">
						<li class="materialPicTxtList oneContent"><input
							type="button" value="预览" class="lookBtn">
							<p class="materialPicTxtTtl">撒发生非撒啥法萨芬撒的发生发达啥撒旦法萨芬的</p>
							<p class="materialPicTxtDate">2014-04-01</p>
							<div class="materialPicWrapCover">
								<img src="/images/material/proxy.jpg" />
							</div>
							<p class="materialPicTxtComment">阿</p>
							<div class="materialPicTxtBottom">
								<a href="javascript:void(0);" onclick="editMaterialBtn()">编辑</a>
								<a href="javascript:void(0);" onclick="delMaterialBtn()">删除</a>
								<i></i>
							</div></li>
						<li class="materialPicTxtList oneContent"><input
							type="button" value="预览" class="lookBtn">
							<p class="materialPicTxtTtl">新的001撒发生非撒啥法萨芬撒的发生发达啥撒旦法萨芬的</p>
							<p class="materialPicTxtDate">2014-04-01</p>
							<div class="materialPicWrapCover">
								<img src="/images/material/proxy.jpg" />
							</div>
							<p class="materialPicTxtComment">阿斯</p>
							<div class="materialPicTxtBottom">
								<a href="javascript:void(0);" onclick="editMaterialBtn()">编辑</a>
								<a href="javascript:void(0);" onclick="delMaterialBtn()">删除</a>
								<i></i>
							</div></li>
					</div>
					<div class="materialCol rightMaterial">
						<li class="materialPicTxtList oneContent"><input
							type="button" value="预览" class="lookBtn">
							<p class="materialPicTxtTtl">新的001撒发生非撒啥法萨芬撒的发生发达啥撒旦法萨芬的</p>
							<p class="materialPicTxtDate">2014-04-01</p>
							<div class="materialPicWrapCover">
								<img src="/images/material/proxy.jpg" />
							</div>
							<p class="materialPicTxtComment">阿斯顿飞洒阿斯顿飞洒发啊萨菲大厦的发生发生的暗示法撒旦发撒发生非啊沙发撒阿斯顿发生地方萨芬啊沙发撒啊沙发撒啊沙发撒旦法师法暗示法萨芬仨飞萨芬的撒旦飞洒阿斯顿发生啊沙发撒啊沙发撒飞洒撒旦法斯蒂芬啊沙发</p>
							<div class="materialPicTxtBottom">
								<a href="javascript:void(0);" onclick="editMaterialBtn()">编辑</a>
								<a href="javascript:void(0);" onclick="delMaterialBtn()">删除</a>
								<i></i>
							</div></li>
					</div>
				</ul>
			</div>

			<div class="page">
				<span>当前共有6条记录，共1页</span> <a href="">首页</a> <a href="">上一页</a> <a
					href="">1</a> <a href="">下一页</a> <a href="">末页</a>
			</div>
		</div>
	</div>
	<div class="addCon clubCon">
		<p class="">分组名称</p>
		<div class="group">
			<input type="checkbox">分组一 <input type="checkbox">分组二
			<input type="checkbox">分组三
		</div>
		<div class="groupBtm">
			<p>P.s 红色代表已进分组或标签，已进入分组用户将不能进入其它分组</p>
			<span class="right"> <input type="button" value="确定"
				class="groupBtn confirmBtn"> <input type="button" value="取消"
				class="groupBtn cancelBtn">
			</span>
		</div>
		<img src="/images/closeTwo.png" alt="" class="closeImg">
	</div>
	<div class="addCon labelCon">
		<p class="">标签名称</p>
		<div class="group">
			<input type="checkbox">cce <input type="checkbox">edison
			<input type="checkbox">学生
		</div>
		<div class="groupBtm">
			<p>P.s 红色代表已进分组或标签</p>
			<span class="right"> <input type="button" value="确定"
				class="groupBtn confirmBtn"> <input type="button" value="取消"
				class="groupBtn cancelBtn">
			</span>
		</div>
		<img src="/images/closeTwo.png" alt="" class="closeImg">
	</div>
</body>
</html>